<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="ConexionesEntities" connectionString="metadata=res://*/Modelo.Conexion.csdl|res://*/Modelo.Conexion.ssdl|res://*/Modelo.Conexion.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=loscorrales.com.mx;user id=corrales_dev;database=corrales_articulosms;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" /><add name="ConexionEntities" connectionString="metadata=res://*/Modelo.Conexiones.csdl|res://*/Modelo.Conexiones.ssdl|res://*/Modelo.Conexiones.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=loscorrales.com.mx;user id=corrales_dev;password=corrales.2013;database=corrales_articulosms;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>